nav.navbar .page-scroll img {
    display: none;
}

nav.navbar.navbar-shrink .page-scroll img {
    display: inherit;
}

.intro-heading {
    color: #272F35;
}

.intro-lead-in {
    color: #C11759;
}

.intro-short {
  height: 30vh;
  position: relative;
}

.intro-back {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(255,255,255,0.7);
  padding: 10px;
}

.post-content p {
   font-size: 18pt;
   text-align: justify;
}

.intro-logo {
  margin: 0;
  padding-bottom: 350px;
}

.intro-lead-in {
  padding: 15px;
  background: rgba(255,255,255,0.6);
}

.intro-back .intro-lead-in {
  background: none;
}

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
  }
}


.text-muted {
   min-height: 7em;
}
