nav.navbar .page-scroll img {
    display: none;
}

nav.navbar.navbar-shrink .page-scroll img {
    display: inherit;
}

.intro-heading {
    color: #272F35;
}

.media .intro-lead-in, .media .intro-heading {
    text-align: left !important;
}



.intro-short {
  height: 30vh;
  position: relative;
}

.intro-back {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(255,255,255,0.7);
  padding: 10px;
}

.intro-text .media img {
    width: 92px;
}

header .intro-text .intro-heading {
    font-weight: normal !important;
    font-size: 40px !important;
}

@media (max-width: 768px) {
    header .intro-text .intro-heading {
        font-size: 40px !important;
    }
}
.post-content p {
   text-align: justify;
   letter-spacing:0.2px;
}

.intro-logo {
  margin: 0;
  padding-bottom: 30px;
  padding-top: 30px;
}

.intro-logo img {
    max-height: 100px;
}

.intro-lead-in {
  padding: 15px 0px;
  background: rgba(255,255,255,0.6);
  color: #C11759;
  font-size: 30px !important;
}

@media (max-width: 768px) {
    .intro-lead-in {
      font-size: 20px !important;
    }
    .navbar-default .nav li a {
        color: white !important;
    }
}

.intro-back .intro-heading {
  font-size: 50px !important;
  line-height: 50px !important;
  margin-bottom: 0px !important;
}

header .intro-back .intro-lead-in {
  background: none;
  font-size: 22px !important;
  line-height: 22px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}


@media (min-width: 768px) {
  header .intro-text {
    padding-top: 50px !important;
    padding-bottom: 60px !important;
  }
  header .intro-lead-in {
    margin-top: 2% !important;
  }
}


.text-muted {
   min-height: 5em;
}

#contact .text-muted {
  color: white;
}

.navbar-default .nav li a, .navbar-shrink.navbar-default .nav li.dropdown.open a {
   color: #272F35 !important;
}
.navbar-shrink.navbar-default .nav li a {
   color: white !important;
}


.swiper-container {
    width: 100%;
}

.swiper-pagination-bullet-active {
    background: #272F35 !important;
}


.swiper-slide {
    padding-bottom: 25px;
    cursor: move !important;
}

.swiper-slide .media-object {
    padding: 10px;
}

.swiper-container .media {
    height: 200px;
    display: table;
}

.swiper-container .media-middle {
    display: table-cell;
    vertical-align: middle;
}

.phone {
   margin-bottom: 20px;
}

.col-md-3 .portfolio-caption {
   height: 11em;
}

.post-content {
    margin-top: 20px;
}

.tech img.thumbnail {
    width: 100%;
    border: none;
}

.btn-sample {
 color: #FFFFFF;
 font-weight: bold;
 font-size: 18px ;
 background-color: #C11759;
 border-color: #130269;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
 color: #FFFFFF;
 background-color: #823E3E;
 border-color: #130269;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
 background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
 background-color: #C11759;
 border-color: #130269;
}

.btn-sample .badge {
 color: #C11759;
 background-color: #FFFFFF;
}

.blog-content {
    text-align: justify;
}

.blog-content h1 {
    font-size: 68px;
    font-family: montserrat;
    font-weight: normal;
    text-transform: none;
    text-align: center;
    margin-bottom: 60px
    margin-top: 60px
}
.blog-content h3 {
    font-size: 42px;
    font-family: montserrat;
    font-weight: normal;
    text-transform: none;
    text-align: left;
    margin-bottom: 500px
    margin-top: 500px
}

}
.blog-content h4 {
    font-size: 28px;
    font-family: montserrat;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 35px
    margin-top: 35px
}

.blog-content p {
    font-size: 20px;
    font-family: montserrat;
    line-height: 250%;

}

.blog-content ul {
    font-size: 20px;
    font-family: montserrat;
    line-height: 250%;

}

.navigation {
    margin-top: 5% ;
    margin-bottom: 15% ;

}

.img-mini{
    margin-top: 2px ;
    weight: 68 px ;
    width: 100% ;

}
.author {
    font-weight: bold  ;
    font-size: 20px ;

}
.author-statut {


}

.author-twitter {
    font-weight: bold  ;
    font-color: #c11759 ;
    font-size: 20px ;

}

