---
layout: bootstrap
title: Boot-Start - Bootstrap your startup
author: Benjamin Habegger
description: Boot-Start provides you with a talented team to work on your startup project.
permalink: /
---

    <!-- Header -->
    <header>
        <div class="intro-text">
            <div class="container">
                <div class="intro-logo"><img class="img-responsive" height="" src="img/logos/bootstart-noborder-transparent.png" alt="Boot-Start"
                /></div>
                <div class="intro-heading">
                    <b>BOOT</b>strap your project as a <i class="fa fa-rocket"><b>START</b>-up</i>
                </div>
            </div>
                <div class="intro-lead-in">
                    <div class="container">
                        <div class="swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <div class="media-object">
                                            <i class="fa fa-graduation-cap fa-3x"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        We are experts in bootstrapping innovative projects related to <i class="fa fa-search"> search</i>,
                                        <i class="fa fa-map-signs"> recommendation</i>, <i class="fa fa-bar-chart"> data analytics</i>.
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="text-left">
                                    <i class="fa fa-rocket fa-2x"></i> We work for startups
                                </div>
                                <div class="text-right">
                                    and bring the startup spirit to bigger companies
                                    <i class="fa fa-building-o fa-2x"></i>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="media">
                                    <div class="media-body">
                                        We work using agile/lean methodologies.
                                    </div>
                                    <div class="media-right media-middle">
                                        <div class="media-object">
                                            <i class="fa fa-refresh fa-3x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <div class="media-object">
                                            <i class="fa fa-users fa-3x"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        Let our talented team help you get your dreamed web service or application online
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                    </div>
                </div>
            <div class="container">
                <a href="#contact" class="page-scroll btn btn-xl">Let's get started !</a>
            </div>
        </div>
    </header>


    {% include services.html %}

    {% include expertise.html %}

    {% include team.html %}

    {% include portfolio.html %}

    {% include contact.html %}
