---
layout: bootstrap
social-img: /img/boot-start-social.jpg
title: Boot-Start - Data Intelligence and start-up projects, the agile way
author: Benjamin Habegger
description: Équipe d'experts en services IT, web, big data et IA. Lancement de start-ups et digitalisation des PME/ETI
permalink: /fr/
language: fr
call-to-audit: yes
cta-tooltip: Et si on vous offrait un audit express ?
audit-link: top-offer/audit-express
---

    {% include intro.html %}

    {% include list_subs.html category='segment' %}

    {% include list_subs.html category='offer' %}

    {% include list_subs_grid.html category='provinews' %}

    {% include team.html %}

    {% include list_subs_grid.html category='portfolio' %}

    {% include list_subs_gridnolink.html category='network' %}

    {% include list_subs.html category='products' %}

    {% include contact.html %}
