---
layout: bootstrap
title: Boot-Start - Data Intelligence and IT projects, the agile way
author: Benjamin Habegger
description: Boot-Start provides you with a talented team of Data scientists & It Experts to work on your project.
permalink: /en/
language: en
call-to-action: yes
cta-tooltip: Let's talk about your project
contact-link: /en/#contact
---

    {% include intro.html %}

    {% include list_subs.html category='offer' %}

    {% include list_subs_grid.html category='provinews' %}

    {% include team.html %}

    {% include list_subs_grid.html category='portfolio' %}

    {% include list_subs.html category='products' %}

    {% include contact.html %}
