---
layout: bootstrap
title: Boot-Start - Data Intelligence and IT projects, the agile way
author: Benjamin Habegger
description: Boot-Start provides you with a talented team of Data scientists & It Experts to work on your project.
permalink: /en/
language: en
---

    {% include intro.html %}

    {% include list_subs.html category='offer' %}

    {% include list_subs_grid.html category='provinews' %}

    {% include team.html %}

    {% include list_subs_grid.html category='portfolio.html' %}

    {% include list_subs_grid.html category='network' %}

    {% include list_subs.html category='products.html' %}

    {% include contact.html %}
