---
layout: bootstrap
title: Boot-Start - Bootstrap your startup
permalink: /
---

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-logo"><img class="img-responsive" height="" src="img/logos/bootstart.png" alt="Boot-Start"
                /></div>
                <div class="intro-heading">

                     <b>Boot</b>strap your <b>start</b>up
                </div>
                <div class="intro-lead-in">
                    <div>Let our talented team help you get your dreamed web service or application online</div>
                </div>
                <a href="#services" class="page-scroll btn btn-xl">Let's get started !</a>
            </div>
        </div>
    </header>


    {% include services.html %}

    {% include portfolio.html %}

    {% include team.html %}

    {% include contact.html %}
