---
social-img: /img/intelligence_artificielle_2017.jpg
title: Middle-size companies
subtitle: Consulting, prototyping, innovation outsourcing, we propose different ways to collaborate.
description:  Boot-Start is an experts team who helps companies in their <b> digitalization </b> by developping IT, big-data and AI products from prototype to integration.
icon: line-chart
category: segment
layout: presentation
permalink: /en/digitalisation-pme
call-to-audit: yes
audit-link: top-offer/audit-express-corpo
cta-tooltip: Free digital audit
---

{% include row_presentation.html category='presentation' subcategory='pme' %}

{% include list_subsnolink.html category='expertise' %}