<div class="row text-center tech">
    <div class="col-md-offset-1 col-md-2">
        <a href="http://www.elastic.co/"><img src="/img/tech/elasticsearch.png" class="thumbnail" alt=""></a>
    </div>
    <div class="col-md-2">
        <a href="http://camel.apache.org/"><img src="/img/tech/apache-camel.png" class="thumbnail" alt=""></a>
    </div>
    <div class="col-md-2">
        <a href="https://angularjs.org/"><img src="/img/tech/angularjs.png" class="thumbnail" alt=""></a>
    </div>
    <div class="col-md-2">
        <a href="http://ionic.io/"><img src="/img/tech/ionic.png" class="thumbnail" alt=""></a>
    </div>
    <div class="col-md-2">
        <a href="http://getbootstrap.com/"><img src="/img/tech/bootstrap.png" class="thumbnail" alt=""></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.knime.org/"><img src="/img/tech/knime.png" class="thumbnail" alt=""></a>
    </div>
    <div class="col-md-2">
        <a href="https://http://www.weka.fr/"><img src="/img/tech/weka.png" class="thumbnail" alt=""></a>
    </div>
    <div class="col-md-2">
        <a href="http://activemq.apache.org/"><img src="/img/tech/activemq.png" class="thumbnail" alt=""></a>
    </div>
</div>
