<!-- Header -->
<header>
    <div class="intro-text">
        <div class="container">
            <div class="intro-logo"><img class="img-responsive" height="" src="/img/logos/bootstart-noborder-transparent.png" alt="Boot-Start"
            /></div>
            <div class="intro-heading">
                <b>TEAM</b> of Data Intelligence and IT Experts
                <span class="text-nowrap">The <b>AGILE</b> <i class="fa fa-rocket"></i> way</span>
            </div>
        </div>
        <div class="hidden-xs intro-lead-in">
            <div class="container">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% for serv in site.pages %}
                        {% if serv.category == 'swiper' and serv.language == page.language %}
                        <div class="swiper-slide">
                           {{ serv.content }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <a href="#segment" class="page-scroll btn btn-xl">Let's get started !</a>
        </div>
    </div>
</header>
