     <section id="{{ include.category }}" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.t[page.language][include.category].heading }}</h2>
                    <h3 class="section-subheading text-muted">{{ site.t[page.language][include.category].subheading }}</h3>
                </div>
            </div>
            <div class="row">

		    {% assign sorted_pages = (site.pages | where: "category", include.category | where: "language", page.language | sort: "sort") %}
            {% for subpage in sorted_pages %}

                   {% if page.big OR subpage.big %}

                <div class="col-md-4 col-sm-6 portfolio-item">

                    {% else %}

                <div class="col-md-3 col-sm-6 portfolio-item">

                    {% endif %}

                {% if page.nolink OR subpage.nolink %}

                    <div class="portfolio-link">

                        <img src="{{ subpage.photo }}" class="img-responsive" alt="">
                    </div>

                    {% else %}

                <a href="{{ subpage.url }}" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ subpage.photo }}" class="img-responsive" alt="">
                </a>

                {% endif %}



                <div class="portfolio-caption">
                    <h4><a href="{{ subpage.website }}" target=_blank>{{ subpage.title }}</a></h4>
                    <p class="text-muted">{{ subpage.topic }}</p>
                </div>
            </div>
            {% endfor %}

            </div>
        </div>
    </section>
