
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="page-scroll" href="#page-top"><img
                style="height: 50px" src="/img/logos/bootstart-noborder.png" /></a>                
            </div> 

            <!-- Collect the nav links, forms, and other content for toggling -->

            {% assign url_prefix = (page.language | prepend: '/' | append: '/') %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="{{ url_prefix }}#page-top">{{ site.t[page.language].menu.home }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ site.t[page.language].menu.service }}<!-- {{ page.language }} - {{ site.t[page.language].lang[page.language] }} --><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_prefix }}expertise">{{ site.t[page.language].menu.expertise }}</a></li>
                            <li><a href="{{ url_prefix }}products">{{ site.t[page.language].menu.products }}</a></li>
                            <li><a href="{{ url_prefix }}digitalisation-pme">{{ site.t[page.language].menu.pme }}</a></li>
                            <li><a href="{{ url_prefix }}prestataire-startup">{{ site.t[page.language].menu.startup }}</a></li>
                            <li><a href="{{ url_prefix }}innovation-gc">{{ site.t[page.language].menu.gc }}</a></li>

                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ url_prefix }}#team">{{ site.t[page.language].menu.team }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ url_prefix }}#provinews">{{ site.t[page.language].menu.news }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ url_prefix }}#portfolio">{{ site.t[page.language].menu.portfolio }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ url_prefix }}#contact">{{ site.t[page.language].menu.contact }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ url_prefix }}jobs">{{ site.t[page.language].menu.jobs }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe"></i><!-- {{ page.language }} - {{ site.t[page.language].lang[page.language] }} --><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/en/{{ page.url | slice: 4, 1000 }}">en - {{ site.t[page.language].lang.en }}</a></li>
                            <li><a href="/fr/{{ page.url | slice: 4, 1000 }}">fr - {{ site.t[page.language].lang.fr }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
