    <!-- Products Section -->
    <section id="products" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.t[page.language].product.heading }}</h2>
                    <h3 class="section-subheading text-muted">{{ site.t[page.language].product.subheading }}</h3>
                </div>
            </div>
            <div class="row text-center">
                {% assign filtered_pages = (site.pages | where: "category", "product" | where: "language", page.language) %}
                {% for prod in filtered_pages %}
                <div class="col-md-4 {%if forloop.last and ((filtered_pages | size) % 3 = 1) %}col-md-offset-4{% endif %}">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="{{ prod.url }}"><i class="fa fa-{{ prod.icon }} fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading">{{ prod.title }}</h4>
                    <p class="text-muted">
                    {{ prod.description }}
                    </p>
                    <p style="text-algin: center"><a href="{{ prod.url }}">{{ site.t[page.language].more }} ...</a></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
