<section id="project-br" class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
            </div>
        </div>
        <div class="row text-left text-black">
            {% for serv in site.pages %}
            {% if serv.category == 'project' and serv.subcategory == 'br' and serv.language == page.language  %}
            <div class="col-md-6">
                <p class="text-black">
                    {{ serv.description }}
                </p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
