    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.t[page.language].service.heading }}</h2>
                    <h3 class="section-subheading text-muted">{{ site.t[page.language].service.subheading }}</h3>
                </div>
            </div>
            <div class="row text-center">
                {% for serv in site.pages %}
                {% if serv.category == 'service' and serv.language == page.language %}
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-{{ serv.icon }} fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{{ serv.title }}</h4>
                    <p class="text-muted">
                    {{ serv.description }}
                    </p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
