
        {% assign FDP = (site.pages | where: "subcategory", include.subcategory | where: "language", page.language | sort: "sort") %}


        {% for subpage in FDP %}

        {% if subpage.header %}

        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 id="header-{{ page.category }}"> {{ subpage.title }} </h1>
                    <hr>
                    <p> {{ subpage.description }}
                    </p>
                    <a href="#presentation" class="btn btn-primary btn-xl page-scroll"> {{ subpage.button }} </a>
                </div>
            </div>
        </header>

        {% endif %}


        {% endfor %}



  {% if site.t[page.language][include.category][include.subcategory].heading %}

        <section id="presentation" class="bg-light-gray no-padding">

                <div class="col-lg-12 text-center" style="margin-top: 6% ; margin-bottom: 3% ;">

                    <h1 class="landing-title">{{ site.t[page.language][include.category][include.subcategory].heading }}</h1>

                    <hr class="primary"/>

                    <h2 class="landing-subtitle text-muted">{{ site.t[page.language][include.category][include.subcategory].subheading }}</h2>



                </div>


    {% endif %}


        {% assign elements = (site.pages | where: "subcategory", include.subcategory | where: "language", page.language | sort: "sort") %}


        {% for subpage in elements %}



        {% if subpage.presentation %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <h3> {{ subpage.subtitle }}  </h3>
                    <p class="text-muted"> {{ subpage.description }}  </p>
                    <a href="{{ subpage.button-link }}" target="_blank" class="btn btn-sample sr-button"> {{ subpage.text-link }} </a>
                </div>
            </div>
        </div>

        {% endif %}



        {% if subpage.video %}


                        <div class="container" style="width: 560px;">
                            <div class="row">

                                    <iframe class="" width="560" height="315" src="{{ subpage.link }}" frameborder="0" allowfullscreen></iframe>

                            </div>
                        </div>


        {% endif %}



        {% if subpage.argument %}




                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-{{ subpage.icon }} fa-4x text-primary sr-icons" style="visibility: visible;-webkit-transform: scale(1);opacity: 1;transform: scale(1);opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;"></i>
                            <h3> {{ subpage.title }} </h3>
                            <p class="text-muted"> {{ subpage.description }} </p>
                        </div>
                    </div>




        {% endif %}







        {% if subpage.reference %}

        <div class="col-md-2 col-xs-6">
            <div class="portfolio-box">
                <img src="{{ subpage.photo }}" class="img-responsive" alt="{{ subpage.title }}">
            </div>
        </div>



        {% endif %}


            {% if subpage.teasing %}

            <aside class="bg-dark">
                <div class="container text-center">
                    <div class="call-to-action">
                        <h2>
                           {{ subpage.description }}
                        </h2>
                        <a href="{{ subpage.button-link }}" target="_blank" class="btn btn-default btn-xl sr-button"> {{ subpage.button }}
                        </a>
                    </div>
                </div>
            </aside>

            {% endif %}


            {% if subpage.alternative %}

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center">
                        <h3> {{ subpage.subtitle }}  </h3>
                        <p class="text-muted"> {{ subpage.description }}  </p>
                        <a href="{{ subpage.alt-button-link }}" class="btn btn-primary btn-xl" target="_blank"> {{ subpage.alt-button }} </a>
                    </div>
                </div>
            </div>

            {% endif %}





        {% if subpage.contact %}

        <div class="col-lg-4 col-lg-offset-2 text-center" style="margin-bottom: 6%;">
            <i class="fa fa-phone fa-3x sr-contact"></i>
            <p> +334 82 53 54 88 </p>
        </div>
        <div class="col-lg-4 text-center" style="margin-bottom: 6%;">
            <i class="fa fa-envelope-o fa-3x sr-contact"></i>
            <p><a href="mailto:contact@boot-start.com">contact@boot-start.com</a></p>
        </div>

        {% endif %}

        {% endfor %}







