---
title: Expertise technique
description: Besoin d'une expertise en informatique, big data, search ou IA ? Nos développeurs experimentés et docteurs en science de l'informatique peuvent intervenir sur des problèmes précis directement au sein de votre entreprise.
permalink: /fr/expertise/
section: expertise
icon: wrench
call-to-audit: yes
audit-link: top-offer/audit-express
cta-tooltip: Et si on vous offrait un audit express ?
---
{% include list_subsubs.html category='expertise' subcategory='data' %}

{% include list_subsubs.html category='expertise' subcategory='ml' %}

{% include list_subsubs.html category='expertise' subcategory='dev' %}

{% include list_subs_gridnolinkbig.html category='technologies' %}

{% include list_subs_gridnolink.html category='technologies-less' %}
