---
social-img: /img/boot-start-social.jpg
title: Smart Catalog
description: La solution Smart Catalog est une plateforme web interactive qui référence l'ensemble de votre catalogue produit. Les technologies avancées de search et recommandation offrent à vos clients et consommateurs finaux une experience de navigation simple et plaisante. Découvrez comment un an de R&D nous a permis de créer la solution la plus aboutie et surprenante en la matière.
icon: diamond
category: products
layout: bootstrap-meta
permalink: /fr/products/smart-catalog
---


<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/fr/#page-top">Boot-Start</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#page-top"> Home Smart Catalog </a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#contact"> Contact </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    {% include x_section.html category='smartcatalog' subcategory='header' %}

    {% include x_section.html category='smartcatalog' subcategory='presentation' %}

    {% include x_section.html category='smartcatalog' subcategory='video' %}

    {% include x_section.html category='smartcatalog' subcategory='argument' %}

    {% include x_section.html category='x-references' subcategory='reference' %}

    {% include x_section.html category='smartcatalog' subcategory='contact' %}

    <br> <br>




