---
social-img: /img/boot-start-social.jpg
seo-title: Agence Marketplace - Développement agile et rapide
title: Marketplace
description: Développement de votre marketplace en mode agile. Du MVP à la Marketplace complète, nous mettons à disposition de votre projet une équipe de talents et la "Méthode Boot-Start" reconnue pour son efficacité dans les projets de plateforme.
icon: amazon
category: products
layout: bootstrap-meta
permalink: /fr/products/agence-marketplace
sort: 2
---


    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/fr/#page-top"> Boot-Start</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#page-top"> {{ site.t[page.language].menu-mp.home }} </a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#contact"> {{ site.t[page.language].menu-mp.contact }} </a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    {% include x_section.html category='marketplace' subcategory='header-mp' %}

    {% include x_section.html category='marketplace' subcategory='presentation-mp' %}

    {% include x_section.html category='marketplace' subcategory='argument-mp' %}

    {% include x_section.html category='x-references' subcategory='reference-mp' %}

    {% include x_section.html category='x-landing' subcategory='contact' %}

    <br> <br>




