---
title: Smart Knowledge Management Platform
description: La Smart Knowledge Management est une plateforme permettant la collecte, le nettoyage, la classification de données (plus ou moins automatisés) pour offrir ensuite de la recherche, de la recommandation et de l'analyse sur des informations internes, données clients et documents divers.
icon: lightbulb-o
category: products
layout: bootstrap-meta
permalink: /fr/products/data-smart-management
sort: 1
---


<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/fr/#page-top">Boot-Start</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#page-top"> {{ site.t[page.language].menu-skm.home }} </a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#contact"> {{ site.t[page.language].menu-skm.contact }} </a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    {% include x_section.html category='skm' subcategory='header-skm' %}

    {% include x_section.html category='skm' subcategory='presentation-back-skm' %}

    {% include x_section.html category='skm' subcategory='presentation-front-skm' %}

    {% include x_section.html category='skm' subcategory='argument-skm' %}

    {% include x_section.html category='x-references' subcategory='reference' %}

    {% include x_section.html category='skm' subcategory='teasing' %}

    {% include x_section.html category='x-landing' subcategory='contact' %}


