---
social-img: /img/boot-start-social.jpg
seo-title: Catalogue Produit sur tablettes - Commercial Digital
seo-description:
title: Smart Catalog pour commerciaux
description: La solution Smart Catalog pour commerciaux est une plateforme utilisable sur tablettes en tant que support de vente. L'ensemble de votre catalogue produit est intégré à la plateforme. De quoi moderniser le métier de vos chargés d'affaire de manière simple et pragmatique.
icon: briefcase
layout: bootstrap-meta
permalink: /fr/products/smart-catalog-commerciaux
sort: 3
---


    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/fr/#page-top"> Boot-Start</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#page-top"> {{ site.t[page.language].menu-smartcat.home }} </a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#contact"> {{ site.t[page.language].menu-smartcat.contact }} </a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    {% include x_section.html category='smartcatalog2' subcategory='header2' %}

    {% include x_section.html category='smartcatalog2' subcategory='presentation2' %}

    {% include x_section.html category='smartcatalog2' subcategory='argument2' %}

    {% include x_section.html category='x-references' subcategory='reference' %}

    {% include x_section.html category='x-landing' subcategory='contact' %}

    <br> <br>




