---
social-img: /img/boot-start-social.jpg
title: Smart Catalog online
description: Integration of an interactiv catalog to your website with all your products. <br>  A simple tool to increase your sales without online purchase.
seo-title: Interactiv catalog of products - Digital marketing solution.
seo-description: Digitalization of products catalog. Integration of an interactiv catalog to your website with all your products.
icon: diamond
category: products
layout: bootstrap-meta
permalink: /en/products/smart-catalog-online
sort: 2
---


    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/fr/#page-top"> Boot-Start</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#page-top"> {{ site.t[page.language].menu-smartcat.home }} </a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#contact"> {{ site.t[page.language].menu-smartcat.contact }} </a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    {% include x_section.html category='smartcatalog' subcategory='header' %}

    {% include x_section.html category='smartcatalog' subcategory='presentation' %}

    {% include x_section.html category='smartcatalog' subcategory='video' %}

    {% include x_section.html category='smartcatalog' subcategory='argument' %}

    {% include x_section.html category='x-references' subcategory='reference' %}

    {% include x_section.html category='x-landing' subcategory='contact' %}

    <br> <br>




