---
social-img: /img/boot-start-social.jpg
title: Grands comptes
subtitle: Audit, expertise, placement de talents, hackathon sur-mesure ou protypage, notre savoir-faire profite aux grandes organisations qui veulent innover.
description: Audit, expertise, placement de talents, hackathon sur-mesure ou protypage, notre savoir-faire profite aux grandes organisations qui veulent innover.
icon: building
category: segment
layout: presentation
pic: advice-black.jpg
permalink: /fr/innovation-gc
call-to-audit: yes
audit-link: top-offer/audit-express
cta-tooltip: Et si on vous offrait un audit express ?
---

{% include row_presentation.html category='presentation' subcategory='gc' %}

{% include list_subs_gridnolinkbig.html category='technologies' %}

{% include list_subs_gridnolink.html category='technologies-less' %}

{% include list_subsnolink.html category='expertise' %}