---
title: Grands comptes
subtitle: Audit, expertise, placement de talents, hackathon sur-mesure ou protypage, notre savoir-faire profite aux grandes organisations qui veulent innover.
description: Audit, expertise, placement de talents, hackathon sur-mesure ou protypage, notre savoir-faire profite aux grandes organisations qui veulent innover.
icon: building
category: segment
layout: presentation
pic: advice-black.jpg
---

{% include row_presentation.html category='presentation' subcategory='gc' %}

{% include list_subsnolink.html category='expertise' %}