---
title: Projet Start-up
subtitle: Prototypage, Minimum Valuable Products, jusqu'au déploiement et l'externalisation de votre SI
description: Nous avons l'habitude d'accompagner les start-ups, du lancement de prototype au développement agile en phase d'hypercroissance. Vous avez un défi technique à nous soumettre? Nos ingénieurs seront ravis de démarrer un sprint pour le résoudre
icon: lightbulb-o
category: segment
layout: presentation
pic: advice-black.jpg
permalink: /fr/prestataire-startup
---

{% include row_presentation.html category='presentation' subcategory='startup' %}

{% include list_subsnolink.html category='expertise' %}
