---
layout: page
---

<section id="jobs">
    <div class="container">
        <div class="row text-center">
            {% for serv in site.pages %}
            {% if serv.category == 'jobs' and serv.language == page.language %}
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-{{serv.icon}} fa-stack-1x fa-inverse"></i>
                    </span>
                <h4><a href="{{ serv.url }}">{{ serv.title }}</a></h4>
                <h5>{{ serv.subtitle }}</h5>
                <p class="text-muted">
                    {{ serv.description }}
                </p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>