---
layout: bootstrap
---

<header>
    <div class="intro-text intro-short">
        <div class="intro-back">
            <div class="container">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            {% if page.photo %}
                            <img src="{{ page.photo }} " class="media-object" alt="">
                            {% endif %}
                            {% if page.icon %}
                            <i class="fa fa-{{page.icon}} fa-5x"></i>
                            {% endif %}
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="intro-heading">{{ page.title }}</div>
                        <div class="intro-lead-in">{{ page.subtitle }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<br><br><br><br><br><br><br>

<div class="container">
    {% if page.illustration %}
    <img src="{{ page.illustration }}" class="img-responsive" alt="">
    {% endif %}

    {% if page.blog %}
    <article class="blog-content">
    {{ content }}
    </article>

    {% else %}

    <article class="post-content">
    {{ content }}
    </article>
    {% endif %}

    <div>
    {% if page.prev %}
    <a href="{{ page.prev.url }}"><img src="{{ page.prev.image }}">{{ page.prev.title }}</a>
    {% endif %}
    </div>
    <div>
    {% if page.next %}
    <a href="{{ page.next.url }}"><img src="{{ page.next.image }}">{{ page.next.title }}</a>
    {% endif %}
    </div>
</div>
