---
layout: bootstrap-landing
---



{% if page.logo-cover %}



<img src="{{ page.logo-cover }} " class="img-responsive half-space-top" style="width:20%; height: auto ; padding-left: 20%;" alt="audits numériques express de Boot-Start">


{% endif %}



{% if page.illu-cover %}



        <img src="{{ page.illu-cover }} " class=" half-space-top img-computer" style="width:70% !important; margin-left:15%!important; z-index:-1;" alt=" audits numériques express de Boot-Start">
        <img src="{{ page.illu-cover2 }} " class="img-cover half-space-top img-mobile" style="width:70% !important; margin-left:15%!important; z-index:-1;" alt=" audits numériques express de Boot-Start">


    {% endif %}

        <div>

            {% if page.button-audit %}

            <div class="container mobile-space-top" style="margin-bottom:0px !important ;" >
                <div id="button-audit" class="button-audit">
                    <a href="{{ page.button-link }}" onClick="ga('send', 'event', 'Offers', 'click', 'Audit Express');" target="_blank" class="bnt btn-xl"> {{ page.cta-tooltip }}  </a>
                    <p class="text-quote" style="margin-top:15px !important ;"> {{ page.subtooltip }} </p>
                </div>
            </div>

            {% endif %}

        <div class="half-space-top"> {{ content }} </div>

        </div>



<div class="container">
    {% if page.illustration %}
    <img src="{{ page.illustration }}" class="img-responsive" alt="">
    {% endif %}

    {% if page.video-link %}
    <div class="embed-responsive embed-responsive-16by9" >
        <iframe class="embed-responsive-item" src="{{ page.video-link }}" frameborder="0" allowfullscreen></iframe>
    </div>
    {% endif %}

    {% if page.blog %}
    <article class="blog-content">
    {{ content }}
    </article>

    {% endif %}

    {% if page.illustration2 %}
     <img src="{{ page.illustration2 }}" class="img-responsive" alt="">
    {% endif %}

    {% if page.call-to-action %}
    <div id="call-to-action" class="fixed-icon hide">
        <a href="{{ page.contact-link }}" onClick="ga('send', 'event', 'Interest', 'click', 'CTA contact');">
            <span class="fa fa-envelope" title="{{ page.cta-tooltip }}">
            </span>
        </a>
    </div>
    {% endif %}



    {% if page.blogauthor %}
<div class="container navigation">
    <div class="row">

        <div class="col-lg-1">
            <div class="img-mini">  <img src="{{ page.miniphoto }}" alt="Benjamin Kaltenbaek" style="width:68px;height:100%;"> </div>
        </div>



        <div class="col-lg-6">
            <div class="author"> {{ page.blogauthor.name }} </div>
            <div class="author-statut">{{ page.blogauthor.statut }} </div>
            <div class="author-twitter">
                <a href="https://twitter.com/{{ page.twitter }}" target="_blank" > <i class="fa fa-twitter" ></i>  {{ page.twauthor.name }}</a>

            </div>
        </div>

    </div>
</div>
    {% endif %}

<div class="container navigation">
    <div class="row">

        {% if page.prev %}
        <div class="col-lg-6 text-center">
            <a href="{{ page.prev.url }}" class="btn btn-sample" role="button"><i class="glyphicon glyphicon-triangle-left" ></i>  {{ page.prev.title }}</a>
        </div>
    {% endif %}


    {% if page.next %}
        <div class="col-lg-6 text-center">
            <a href="{{ page.next.url }}" class="btn btn-sample" role="button">{{ page.next.title }}  <i class="glyphicon glyphicon-triangle-right" ></i></a>
        </div>
    {% endif %}

    </div>
</div>
    <br><br><br><br><br>
