---
layout: bootstrap-landing
---



{% if page.logo-cover %}



<img src="{{ page.logo-cover }} " class="img-responsive half-space-top" style="width:20%; height: auto ; padding-left: 20%;" alt="audits numériques express de Boot-Start">


{% endif %}



{% if page.illu-cover %}



        <img src="{{ page.illu-cover }} " class=" half-space-top img-computer" style="width:70% !important; margin-left:15%!important; z-index:-1;" alt=" audits numériques express de Boot-Start">
        <img src="{{ page.illu-cover2 }} " class="img-cover half-space-top img-mobile" style="width:70% !important; margin-left:15%!important; z-index:-1;" alt=" audits numériques express de Boot-Start">


    {% endif %}

        <div>


        <div class="half-space-top"> {{ content }} </div>

        </div>



<div class="container">
    {% if page.illustration %}
    <img src="{{ page.illustration }}" class="img-responsive" alt="">
    {% endif %}

    {% if page.video-link %}
    <div class="embed-responsive embed-responsive-16by9" >
        <iframe class="embed-responsive-item" src="{{ page.video-link }}" frameborder="0" allowfullscreen></iframe>
    </div>
    {% endif %}

    {% if page.blog %}
    <article class="blog-content">
    {{ content }}
    </article>

    {% endif %}

    {% if page.illustration2 %}
     <img src="{{ page.illustration2 }}" class="img-responsive" alt="">
    {% endif %}



    <br><br><br><br><br>
