---
layout: bootstrap
---
<!--
<div class="post">
  <header class="post-header">
    <div class="intro-text intro-short">
      <div class="intro-back">
        <div class="intro-heading">{{ page.title }}</div>
        <div class="meta intro-lead-in">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</div>
      </div>

    </div>
  </header>
  <article class="post-content">
  {{ content }}
  </article>
</div>-->
