---
layout: bootstrap
---

<header>
    {% if page.blog %}
    <div class="intro-text intro-blog intro-short">
        <div class="intro-back">

            {% else %}

    <div class="intro-text intro-short">
        <div class="intro-back">

            {% endif %}

            <div class="container">
                <div class="media media-ajust">
                    <div class="media-left">
                        <a href="#">
                            {% if page.photo %}
                            <img src="{{ page.photo }} " class="media-object" alt="{{ page.title }}">
                            {% endif %}

                        </a>
                    </div>
                    <div class="media-body">
                        <div class="intro-heading">{{ page.title }}</div>
                        <div class="intro-lead-in">{{ page.subtitle }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

    {% if page.illustration %}
    <img src="{{ page.illustration }}" class="img-responsive cover" alt="{{ page.title }}">
    {% endif %}


    {{ content }}




    <br><br><br><br><br>
