---
layout: bootstrap
---

    <header>
            <div class="intro-text intro-short">
            	<div class="intro-back">
                    <div class="team-member">
                        <a href="/fr/team/arnaud-renard/"><img src="/img/team/arnaud.png " class="img-responsive img-circle" alt=""></a>
                        <h4>    Arnaud Renard</h4>
                        <p class="text-muted">CTO</p>
                        <ul class="list-inline social-buttons">

                              <li><a href="https://twitter.com/renarnaud"><i class="fa fa-twitter"></i></a></li>


                              <li><a href="https://www.facebook.com/arnaud.renard.85"><i class="fa fa-facebook"></i></a></li>


                        </ul>
                    </div>
	        <div class="intro-heading">{{ page.title }}</div>
	        <div class="intro-lead-in">{{ page.subtitle }}</div>
	        </div>
	        
            </div>    
    </header>

    <section>
        <div class="container">
  <article class="post-content">
  {{ content }}
  </article>
 </div>
 </section>
