---
slug: audit-pme
logo-cover: /img/logos/bootstart.png
social-img: /img/audit/question-digital-project.png
title: Audit numérique express chez Boot-Start
description: "Discussion avec nos data scientists et phd en informatique: innovation, digitalisation, big data et IA."
category: top-offer
background: /img/show/innovation-pme-digital.jpg
permalink: top-offer/audit-express-corpo
illu-cover: /img/digital-lyon-boot-start.jpg
illu-cover2: /img/digital-lyon-boot-start-mobile.jpg
decoration: yes
layout: top-offer
---

{% include page-top-offer.html category='top-audit' subcategory='intro-question-pme' %}

{% include page-top-offer.html category='top-audit' subcategory='question-pme' %}

{% include page-top-offer.html category='top-audit' subcategory='outro-question' %}

{% include page-top-offer.html category='top-audit' subcategory='button-pme' %}

{% include list_subsnolink.html category='expertise' %}

