---
slug: audit-start
logo-cover: /img/logos/bootstart.png
social-img: /img/audit/question-digital-project.png
title: Voici les 5 questions à se poser avant de développer sa plateforme, son produit
description: "Possibilité de prendre rendez-vous pour en discuter avec nos chefs de projet, data scientists et phd en informatique: IT, Data science et Machine learning."
category: top-offer
background: /img/show/innovation-pme-digital.jpg
website: top/audit-digital-lyon
button-audit: yes
button-link: https://calendly.com/bhabegger/audit-express/10-09-2017
illu-cover: /img/digital-lyon-boot-start.jpg
illu-cover2: /img/digital-lyon-boot-start-mobile.jpg
decoration: yes
layout: top-offer
---

{% include page-top-offer.html category='top-audit' subcategory='intro-question-start' %}

{% include page-top-offer.html category='top-audit' subcategory='question-start' %}

{% include page-top-offer.html category='top-audit' subcategory='outro-question' %}

{% include page-top-offer.html category='top-audit' subcategory='button-start' %}

{% include list_subsnolink.html category='expertise' %}
